.home-page__footer {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 3rem;
  background: black;
  color: white;
  text-align: center;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
  margin-top: auto;
}

.home-page__footer-text {
  margin: 0;
  font-size: 0.9rem;
  color: white;
}
